.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  margin-bottom: 24px;

  .bar__wrapper {
    display: flex;
    align-items: center;
    gap: 28px;
  }
}

.bar .bar__logo h1 {
  font-size: 2em;
  font-weight: 500
}

.bar .bar__menu {
  display: flex;
  align-items: center;

  button {
    /* reset all style */
    background: none;
    border: none;
    outline: none;
  }
}

.bar__menu--prev button, .bar__menu--next button  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar__menu--month {
  width: 124px;
  text-align: center;
  font-size: 0.9em;
  margin: 0 4px;
}
