.info {
  padding: 16px 0;
  height: 100%;

  .info-fullDate {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }

  .info-todo {
    margin-top: 12px;
    padding: 16px 24px;
    border-radius: 8px;
    height: 80%;
    background: #ebebeb;
    box-shadow:  6px 6px 12px #f7f7f7,
             -6px -6px 12px #f7f7f7;

    .info-todo-content {
      height: 100%;
    }

    .info-todo-content ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .info-todo-content ul li {
      margin: 0 1.2em ;
      font-size: 1.2em;
      padding: 0.25em 0;
    }
  }
}

.info-action {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
  gap: 12px;
}
